<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SignatureTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BE489E41C252F8B00741EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BE489F81C252F8E00741EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BE48A031C252F8F00741EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
